.DS_Store
*.pyc
*.egg-info
*.swp
tags
solve_ninja/docs/current
node_modules/
solve_ninja/public/user-profile2.0/
solve_ninja/public/mp/
solve_ninja/www/marketplace2/index.html
solve_ninja/www/marketplace/