<style>
	@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://solveninja.org/files/owl.carousel.min.css');
@import url('https://solveninja.org/files/owl.theme.default.min.css');

body {
    font-family: 'Exo 2';
}

.main-bg {
    width: 100vw;
    height: calc(100vh - 76px);
    background-image: url(https://solveninja.org//files/solveninja-leaderboard.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}

.main-bg-content {
    position: absolute;
    bottom: 120px;
    width: 100vw;
    padding: 0 15%;
}

.main-bg-title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Exo 2';
    color: #FFF;
}

.main-bg-subtitle{
    font-family: 'Exo 2';
    font-size: 24px;
    color: #FFF;
}

.leaderboard-card {
	background: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.leaderboard-card.leaderboard-card--first {
	transform: scale(1.05);
}
.leaderboard-card.leaderboard-card--first .leaderboard-card__top {
	background: linear-gradient(45deg, #7e57c2, #ab47bc);
	color: #fff;
}
.leaderboard-card__top {
	background: #f9f6ff;
	padding: 20px 0 30px 0;
}
.leaderboard-card__body {
	padding: 15px;
	margin-top: -40px;
	
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background: rgba(81, 167, 106,0.1);
 
}

.small-text {
    color: #2B4754;
    font-size: 20px;
    font-weight: 400;
    opacity:1;
}

.title-text{
    color: #2B4754;
    font-size: 40px;
    font-weight: 700;
}

.name-rank{
    color: #51A76A;
    font-size: 20px; 
    font-weight: 700;
    word-wrap: break-word;
}

.table th, .table td {
    border: 0;
}

.searchbox {
    width: 100%;
    height: 46px;
    border-radius: 32px;
    padding: 0px 30px;
    border: 2px solid #51a76a;
    margin: 10px 0;
}

.join-family {
    padding: 60px;
    background: linear-gradient(180deg, #e8ffee 0%, #e7f5ff 55%, rgba(231.62, 255, 238.42, 0) 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.contribute-button {
    height: 46px;
    display:flex;
    align-items:center;
    padding: 0 30px;
    background: #51a76a;
    border: 0;
    color: #fff;
    border-radius: 32px
}
	</style>
	<div class="main-bg">
	<div class="main-bg-content">
	  <div class="main-bg-title">Become a Solve Ninja today!</div>
	  <p class="main-bg-subtitle">
		Contribute to problem solving actions and get added to the leaderboard
	  </p>
	  <button type="button" class="contribute-button">Contribute</button>
	</div>
  </div>
  <div class="container">
	<div style="display: flex; gap: 50px; justify-content:center; margin: 50px 0;">
	  <div style="display: flex; gap: 20px; align-items: center">
		<div>
		  <svg xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 0 448 512">
			<path fill="#51a76a" d="M325.4 289.2L224 390.6 122.6 289.2C54 295.3 0 352.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-70.2-54-127.1-122.6-133.2zM32 192c27.3 0 51.8-11.5 69.2-29.7 15.1 53.9 64 93.7 122.8 93.7 70.7 0 128-57.3 128-128S294.7 0 224 0c-50.4 0-93.6 29.4-114.5 71.8C92.1 47.8 64 32 32 32c0 33.4 17.1 62.8 43.1 80-26 17.2-43.1 46.6-43.1 80zm144-96h96c17.7 0 32 14.3 32 32H144c0-17.7 14.3-32 32-32z"
			/>
		  </svg>
		</div>
		<div>
		  <div style="color: #2b4754; font-size: 26px"><b>{{total_solve_ninjas}}</b></div>
		  <div style="color: #51a76a; font-size: 22px">Solve Ninjas</div>
		</div>
	  </div>
	  <div style="display: flex; gap: 20px; align-items: center">
		<div>
		  <svg xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 0 416 512"><path fill="#51a76a" d="M272 96c26.51 0 48-21.49 48-48S298.51 0 272 0s-48 21.49-48 48 21.49 48 48 48zM113.69 317.47l-14.8 34.52H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h77.45c19.25 0 36.58-11.44 44.11-29.09l8.79-20.52-10.67-6.3c-17.32-10.23-30.06-25.37-37.99-42.61zM384 223.99h-44.03l-26.06-53.25c-12.5-25.55-35.45-44.23-61.78-50.94l-71.08-21.14c-28.3-6.8-57.77-.55-80.84 17.14l-39.67 30.41c-14.03 10.75-16.69 30.83-5.92 44.86s30.84 16.66 44.86 5.92l39.69-30.41c7.67-5.89 17.44-8 25.27-6.14l14.7 4.37-37.46 87.39c-12.62 29.48-1.31 64.01 26.3 80.31l84.98 50.17-27.47 87.73c-5.28 16.86 4.11 34.81 20.97 40.09 3.19 1 6.41 1.48 9.58 1.48 13.61 0 26.23-8.77 30.52-22.45l31.64-101.06c5.91-20.77-2.89-43.08-21.64-54.39l-61.24-36.14 31.31-78.28 20.27 41.43c8 16.34 24.92 26.89 43.11 26.89H384c17.67 0 32-14.33 32-32s-14.33-31.99-32-31.99z"/></svg>
		</div>
		<div>
		  <div style="color: #2b4754; font-size: 26px"><b>{{total_actions_taken}}</b></div>
		  <div style="color: #51a76a; font-size: 22px">Action Taken</div>
		</div>
	  </div>
	  <div style="display: flex; gap: 20px; align-items: center">
		<div>
		  <svg xmlns="http://www.w3.org/2000/svg" height="62px" viewBox="0 0 384 512"><path fill="#51a76a" d="M360 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24 0 90.965 51.016 167.734 120.842 192C75.016 280.266 24 357.035 24 448c-13.255 0-24 10.745-24 24v16c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24 0-90.965-51.016-167.734-120.842-192C308.984 231.734 360 154.965 360 64c13.255 0 24-10.745 24-24V24c0-13.255-10.745-24-24-24zm-75.078 384H99.08c17.059-46.797 52.096-80 92.92-80 40.821 0 75.862 33.196 92.922 80zm.019-256H99.078C91.988 108.548 88 86.748 88 64h208c0 22.805-3.987 44.587-11.059 64z"/></svg>
		</div>
		<div>
		  <div style="color: #2b4754; font-size: 26px"><b>{{total_hours_invested}}</b></div>
		  <div style="color: #51a76a; font-size: 22px">Hours Invested</div>
		</div>
	  </div>
	</div>
	
	<div class="title-text">Top 10 Solve Ninjas</div>
	<div><input type="search" class="searchbox" placeholder="Search Ninja" id ="search" /></div>
	<div id ="Ranktable">
		<table class="table table-striped" style="text-align: center">
	  <thead>
		<tr>
		  <th>Rank</th>
		  <th>Persona</th>
		  <th class="text-left">Name</th>
		  <th class="text-left">City</th>
		  <th class="text-right">Hours</th>
		  <th class="text-right">Actions</th>
		</tr>
	  </thead>
	  <tbody>
		{% for leader in leaderboard_data %}
		<tr>
		  <td>
			<div>
			  {% if leader.sr == 1%}
			  <img src="https://solveninja.org/files/rank-1.png" style="height: 42px" />
			  {% elif leader.sr==2%}
			  <img src="https://solveninja.org/files/rank-2.png" style="height: 42px" />
			  {% elif leader.sr==3%}
			  <img src="https://solveninja.org/files/rank-3.png" style="height: 42px" />
			  {%else%}
			  <span class="name-rank">{{leader.sr}}</span>
			  {% endif %}
			</div>
		  </td>
		  <td>
			<img src="{{leader.persona.image}}" style="height: 42px" />
		  </td>
		  <td class="text-left" style="vertical-align: middle">
			<a href="{{leader.profile_link}}" class="name-rank">{{leader.full_name}}</a>
		  </td>
  
		  <td class="text-left" style="vertical-align: middle">{{leader.location}}</td>
		  <td class="text-right" style="vertical-align: middle">{{leader.hours_invested}}</td>
		  <td class="text-right" style="vertical-align: middle">{{leader.contribution_count}}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
	</div>
	<div id ="SearchResultsDiv" style="display:none">
	  <table class="table table-striped" style="text-align: center" id="SearchResultsTable" >
	  <thead>
		<tr>
		  <th>Rank</th>
		  <th>Persona</th>
		  <th class="text-left">Name</th>
		  <th class="text-left">City</th>
		  <th class="text-right">Hours</th>
		  <th class="text-right">Actions</th>
		</tr>
	  </thead>
	  <tbody>
	   
	   
	  </tbody>
	</table>
	</div>
  </div>
  <div class="join-family">
	  <div style="color: #D85930; font-size:24px">Join 100+ Ninjas from all over the country! </div>
	  <div style="color: #2B4754; font-size:36px">Contribute to problem solving actions and get added to the leaderboard today!</div>
	  <button type="button" class="contribute-button">Contribute</button>
  </div>
  <div class="container">
	  <div class="owl-carousel">
		  <div class="card" style="width:282px;">
			  <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/wtu_OyoVzXM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			  <div class="card-body" style="padding:16px">
				  <h6 class="card-title" style="font-size:18px"><b>About the Solve Ninja</b></h6>
				  <p class="card-text">Co-Founder, Kuldeep Dantewadia talks about the work and impact</p>
			  </div>
		  </div>
		  <div class="card" style="width:282px;">
			  <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/kiC4vHAMM4w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			  <div class="card-body" style="padding:16px">
				  <h6 class="card-title" style="font-size:18px"><b>Reap Benefit</b></h6>
				  <p class="card-text"></p>
			  </div>
		  </div>
		  <div class="card" style="width:282px;">
			  <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/LVav-udl3ec" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			  <div class="card-body" style="padding:16px">
				  <h6 class="card-title" style="font-size:18px"><b>Bengaluru Youths Helped 581 Citizens Exercise Their Right to Vote | Netizens are at Awe</b></h6>
				  <p class="card-text">Elections are coming!!</p>
			  </div>
		  </div>
		  <div class="card" style="width:282px;">
			  <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/Hv19MzO6d7A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			  <div class="card-body" style="padding:16px">
				  <h6 class="card-title" style="font-size:18px"><b>A young environmentalist plants more than 3000 plants a year! Solve Ninja Story from Reap Benefit</b></h6>
				  <p class="card-text"></p>
			  </div>
		  </div>
		  <div class="card" style="width:282px;">
			  <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/vl1gXqDV1aQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			  <div class="card-body" style="padding:16px">
				  <h6 class="card-title" style="font-size:18px"><b>How A Small Action by the Solve Ninja of India is saving many lives! | Athreya from Chennai</b></h6>
				  <p class="card-text"></p>
			  </div>
		  </div>
		  <div class="card" style="width:282px;">
			  <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/HUisaV5F894" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			  <div class="card-body" style="padding:16px">
				  <h6 class="card-title" style="font-size:18px"><b>Celebration of SNLA culmination by fellows of @reapbenefit ! what it means to be a Solve Ninja?</b></h6>
				  <p class="card-text"></p>
			  </div>
		  </div>
	  </div>
  </div>
  <script>
  // Your provided script here
  let searchField = document.getElementById("search");
  
  searchField.addEventListener("keyup", function(event) {
	  if (event.keyCode === 13) {
		  
		  if ((event.target.value.length) < 5) {
			  alert("Please enter at least 5 characters")
			  return
		  }
		  var raw = JSON.stringify({
			  "search_string": event.target.value
		  });
		  
		  var requestOptions = {
			  method: 'POST',
			  body: raw,
			  redirect: 'follow',
			  credentials: 'omit'
		  };
		  clearSearchResults();
		  fetch("https://solveninja.org/api/method/solve_ninja.api.common.search_users", requestOptions)
			  .then(response => response.text())
			  .then(result => {
				  
				  var data = JSON.parse(result).data
				  if (data.length == 0) {
					  alert("No results found!")
					  return;
				  }
				  
				  document.getElementById("Ranktable").style.display = 'none';
				  const searchResultsTable = document.getElementById("SearchResultsDiv")
				  searchResultsTable.style display = 'block';
				  const resultsTable = document.getElementById("SearchResultsTable").getElementsByTagName('tbody')[0]
				  console.log(data);
				  data.forEach(item => {
					  var row = resultsTable.insertRow(resultsTable.rows.length);
					  var cell1 = row.insertCell(0);
					  var cell2 = row.insertCell(1);
					  var cell3 = row.insertCell(2);
					  var cell4 = row.insertCell(3);
					  var cell5 = row.insertCell(4);
					  var cell6 = row.insertCell(5);
					  cell1.innerHTML = "NA";
					  cell2.innerHTML = "<img src=\"" + item.persona.image + "\" style=\"height: 42px\" />";
					  cell3.innerHTML = "<a href=\"/user-profile/" + item.username + "\" class=\"name-rank\">" + item.full_name + "</a>";
					  cell4.innerHTML = item.location;
					  cell5.innerHTML = item.hours_invested;
					  cell6.innerHTML = item.contribution_count;
					  cell3.classList.add("text-left")
					  cell4.classList.add("text-left")
					  cell5.classList.add("text-right")
					  cell6.classList.add("text-right")
				  })
			  })
			  .catch(error => console.log('error', error));
	  }
  });
  
  searchField.addEventListener("input", function(event) {
	  if (!event.target.value.length) {
		  clearResultsTable()
	  }
  })
  
  function clearResultsTable() {
	  
	  document.getElementById("Ranktable").style.display = 'block';
	  const searchResultsTable = document.getElementById("SearchResultsDiv")
	  searchResultsTable.style display = 'none';
	  const resultsTable = document.getElementById("SearchResultsTable")
	  const no_rows = resultsTable.tBodies[0].rows.length
	  for (var i = 1; i <= no_rows; i++) {
		  resultsTable.deleteRow(1);
	  }
	  
  }
  
  function clearSearchResults() {
	  const resultsTable = document.getElementById("SearchResultsTable")
	  const no_rows = resultsTable.tBodies[0].rows.length
	  for (var i = 1; i <= no_rows; i++) {
		  resultsTable.deleteRow(1);
	  }
  }
</script>
