<div class="wrapper-grey">
    <div class="active_cities">
        <div class="ac_title">Most Active Cities</div>
        <div class="ac_content">
            <div class="ac_list">
                <div class="ac_sub_title">Our most active ninjas come from these cities</div>
                <div class="cities_filter">
                    <select class="hours-select" name="rank-based-on-city" id="rank-based-on-city">
                        <option value="Overall">Overall</option>
                        <option value="Last Month">Last Month</option>
                        <option value="Last 15 Days" selected="selected">Last 15 Days</option>
                    </select>
                </div>
                <div class="ac_list_item" id="ac_list_item">
                </div>
            </div>
            <div class="ac_inner_cta">
                <p>Already In! Want to lead?</p>
                <a href="{{ whatsapp_bot_url }}?text=LeadSolveNinjaCity"><button class="main_btn">Click Here</button></a>
            </div>
        </div>
        <div class="ac_cta">
            <a href="{{ whatsapp_bot_url }}?text=JoinSolveNinjaCity" target="_blank"><button class="primary_btn">Join a City</button></a>
        </div>
    </div>
</div>