<div class="join-family">
    <div style="color: #D85930; font-size:24px">Join 100+ Ninjas from all over the country! </div>
    <div style="color: #2B4754; font-size:36px">Contribute to problem solving actions and get added to the leaderboard today!</div>
    <button type="button" class="contribute-button">Contribute</button>
</div>
<div class="container">
    <div class="owl-carousel">
        <div class="card" style="width:282px;">
            <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/wtu_OyoVzXM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body" style="padding:16px">
                <h6 class="card-title" style="font-size:18px"><b>About the Solve Ninja</b></h6>
                <p class="card-text">Co-Founder, Kuldeep Dantewadia talks about the work and impact</p>
            </div>
        </div>
        <div class="card" style="width:282px;">
            <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/kiC4vHAMM4w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body" style="padding:16px">
                <h6 class="card-title" style="font-size:18px"><b>Reap Benefit</b></h6>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card" style="width:282px;">
            <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/LVav-udl3ec" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body" style="padding:16px">
                <h6 class="card-title" style="font-size:18px"><b>Bengaluru Youths Helped 581 Citizens Exercise Their Right to Vote | Netizens are at Awe</b></h6>
                <p class="card-text">Elections are coming!!</p>
            </div>
        </div>
        <div class="card" style="width:282px;">
            <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/Hv19MzO6d7A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body" style="padding:16px">
                <h6 class="card-title" style="font-size:18px"><b>A young environmentalist plants more than 3000 plants a year! Solve Ninja Story from Reap Benefit</b></h6>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card" style="width:282px;">
            <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/vl1gXqDV1aQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body" style="padding:16px">
                <h6 class="card-title" style="font-size:18px"><b>How A Small Action by the Solve Ninja of India is saving many lives! | Athreya from Chennai</b></h6>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card" style="width:282px;">
            <iframe width="280" height="210" style="border-top-left-radius: 10px; border-top-right-radius: 10px;" src="https://www.youtube.com/embed/HUisaV5F894" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body" style="padding:16px">
                <h6 class="card-title" style="font-size:18px"><b>Celebration of SNLA culmination by fellows of @reapbenefit ! what it means to be a Solve Ninja?</b></h6>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>