<div class="opportunitties_banner">
    <div class="header-live-badge">
        <h1>
            NEW OPPORTUNITIES ARE NOW
        </h1>
        <div>
            <span class="live-badge">
                <span class="live-left">
                    <span class="live-dot"></span>
                </span>
                <span class="live-right">LIVE</span>
            </span>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card-img">
                <img src="./assets/solve_ninja/images/changemaker_fellowship.png" />
            </div>
            <div class="card-text">
                <h3>CHANGEMAKER FELLOWSHIP – EARLY IMPACT
                    SNAPSHOT</h3>
                <p>17 civic leaders funded with over committed funds over 7.5 Lacs.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="./assets/solve_ninja/images/youth_brand_members.png" />
            </div>
            <div class="card-text">
                <h3>YOUTH BOARD MEMBERS</h3>
                <p>24 leaders inducted on our Youth Board — representing young voices at national and global platforms.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="./assets/solve_ninja/images/solve_squad.png" />
            </div>
            <div class="card-text">
                <h3>SOLVE SQUAD</h3>
                <p>1 core team Ninjas — leading and supporting various programs in their city.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="./assets/solve_ninja/images/mentorship.png" />
            </div>
            <div class="card-text">
                <h3>MENTORSHIP OPPORTUNITIES</h3>
                <p>300+ fellows accessed expert guidance, project support, and global exposure.</p>
            </div>
        </div>
    </div>

</div>
<div class="people-mosiac">
    <img src="./assets/solve_ninja/images/opportunity_banner_fg.png" />
</div>
<div class="opportunitties_banner-tail banner-tail ">
    <span>CLICK ON THE CARDS BELOW TO APPLY OR KNOW MORE ABOUT EACH OPPORTUNITY!</span>
</div>