<div class="wrapper-grey">
    <div class="verified_ninjas email_campaigns">
        <div class="vn_header">
            <div class="vn_title">
                <span>Grow with Opportunities</span>
                <small>Discover opportunities designed to help you drive real-world impact. Whether you're looking to speak, learn, or lead—there’s something here for everyone!</small>
            </div>
        </div>
        {% if opportunities|length == 0 %}
            <div class="no_opportunities">
                <p>No Opportunities available at the moment.</p>
            </div>
        {% else %}
            <div class="vn_content">
                {% for opportunity in opportunities %}
                    {{ frappe.render_template('www/templates/opportunity.html', {"opportunity": opportunity}) }}
                {% endfor %}
            </div>
            {% if opportunities|length > 10 %}
                <div class="vn_all">
                    <a href=""><button class="main_btn">View All</button></a>
                </div>
            {% endif %}
        {% endif %}
        
    </div>
</div>
