<div class="wrapper-grey">
    <div class="verified_ninjas">
        <div class="vn_header">
            <div class="vn_title">
                <span>Verified Ninjas</span>
                <small>Ninjas vetted for their bias to solve civic & climate issues.</small>
            </div>
        </div>
        <div class="vn_content">
            {% for user in verified_users %}
            {{ frappe.render_template('www/templates/ninja.html', {"user": user}) }}
            {% endfor %}
        </div>
        <div class="vn_all">
            <a href="/ninjas"><button class="main_btn">View All</button></a>
        </div>
    </div>
</div>