<div class="banner_wrapper">
    <div class="banner_content_wrapper">
        <h1>Solve Ninja Movement</h1>
        <h2>#OwnYourChange</h2>
        <h3>India's Largest Changemaker Community</h3>
        <div class="b_content">
            <!-- <div class="b_content_box">
                <img src="./assets/solve_ninja/images/seeds_funds.png" alt="" />
                <span>Get Seed Funds</span>
            </div>
            <div class="bcb_divider"></div> -->
            <div class="b_content_box">
                <img src="./assets/solve_ninja/images/access_mentorship.png" alt="" />
                <span>Access mentorship</span>
            </div>
            <div class="bcb_divider"></div>
            <div class="b_content_box">
                <img src="./assets/solve_ninja/images/build_skills.png" alt="" />
                <span>Chance to Build Skills</span>
            </div>
            <div class="bcb_divider"></div>
            <div class="b_content_box">
                <img src="./assets/solve_ninja/images/land_internships.png" alt="" />
                <span>Learning Opportunities</span>
            </div>
        </div>
        <div class="b_cta">
            <a href="{{ whatsapp_bot_url }}?text=StartSolveNinjaJourney" target="_blank"><button class="secondry_btn">Join Now</button></a>
            <p>Already A Member? <a href="{{ whatsapp_bot_url }}?text=GoToSolveNinjaBot" target="_blank">Continue Here</a></p>
        </div>
    </div>
</div>