{% extends "templates/web.html" %}

{% block title %}{{ _('Solve Ninja - Ninjas') }}{% endblock %}
{% block script %}
    <script>{% include "www/ninjas/index.js" %}</script>
{% endblock %}
{% block content %}
{% include 'www/templates/banner.html' %}
<div class="wrapper-grey">
    <div class="verified_ninjas">
        <div class="vn_header">
            <div class="vn_title">
                <span>Verified Ninjas</span>
                <small>Ninjas vetted for their bias to solve civic & climate issues.</small>
            </div>
        </div>
        <div class="vn_content">
        </div>
        <div class="vn_all">
            <button class="main_btn" id="btn_load_more">Load More</button>
        </div>
    </div>
</div>
{% endblock %}