@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://solveninja.org/files/owl.carousel.min.css');
@import url('https://solveninja.org/files/owl.theme.default.min.css');

body {
    font-family: 'Exo 2';
}

.main-bg {
    width: 100vw;
    height: calc(100vh - 76px);
    background-image: url(/files/solveninja-leaderboard.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}

.main-bg-content {
    position: absolute;
    bottom: 120px;
    width: 100vw;
    padding: 0 15%;
}

.main-bg-title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Exo 2';
    color: #FFF;
}

.main-bg-subtitle{
    font-family: 'Exo 2';
    font-size: 24px;
    color: #FFF;
}

.leaderboard-card {
	background: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.leaderboard-card.leaderboard-card--first {
	transform: scale(1.05);
}
.leaderboard-card.leaderboard-card--first .leaderboard-card__top {
	background: linear-gradient(45deg, #7e57c2, #ab47bc);
	color: #fff;
}
.leaderboard-card__top {
	background: #f9f6ff;
	padding: 20px 0 30px 0;
}
.leaderboard-card__body {
	padding: 15px;
	margin-top: -40px;
	
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background: rgba(81, 167, 106,0.1);
 
}

.small-text {
    color: #2B4754;
    font-size: 20px;
    font-weight: 400;
    opacity:1;
}

.title-text{
    color: #2B4754;
    font-size: 40px;
    font-weight: 700;
}

.name-rank{
    color: #51A76A;
    font-size: 20px; 
    font-weight: 700;
    word-wrap: break-word;
}

.table th, .table td {
    border: 0;
}

.searchbox {
    min-height: 40px;
    border-radius: 4px;
    padding: 0px 10px;
    margin: 0 10px 0 0;
    border: 1px solid #51a76a;
}

.join-family {
    padding: 60px;
    background: linear-gradient(180deg, #e8ffee 0%, #e7f5ff 55%, rgba(231.62, 255, 238.42, 0) 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.contribute-button {
    height: 46px;
    display:flex;
    align-items:center;
    padding: 0 30px;
    background: #51a76a;
    border: 0;
    color: #fff;
    border-radius: 32px
}

.filter-bar{
	margin: 25px 0;
	display: flex;
    justify-content: flex-end;
}
.org-select, .city-select, .hours-select{
	margin: 0 10px 0 0;
	padding: 0 10px;
	border: 1px solid #51a76a;
    border-radius: 4px;
    min-height: 40px;
}
.city-select{
    width: 100%;
}
.city-select option{
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}
.city_hours_wrapper{
    display: flex;
}
.filter-btn{
	display: flex;
}
.filter-btn button{
	width: 100%;
    outline: 0;
    padding: 5px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
}
.filter-btn button:first-child{
	margin: 0 10px 0 0;
}
.btn_fill{
	background: #52A769;
    color: #fff;
    border: 0;
}
.btn_outline{
    background: transparent;
	color: #51A76A;
    border: 2px solid #51A76A;
}
.no-record{
    color: #D85930;
    font-size: 20px;
    margin: 0 0 40px;
    text-align: center;
}
.stats-container{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.stats-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 100px 0 0;
}
.stats-container .stats-wrapper:last-child{
    margin: 0;
}
.ninja-table{
    width: 100%;
    overflow: auto;
}
#Ranktable .container{
    overflow: auto;
}
@media only screen and (max-width: 992px) {
    .searchbox{
        width: 100%;
    }
    .searchbox, .org-select, .city-select, .hours-select{
        margin: 0 0 10px;
    }
    .city-select{
        width: 60%;
    }
    .hours-select{
        width: 35%;
    }
    .filter-bar{
        flex-wrap: wrap;
    }
    .org-select{
        width: 100%;
    }
    .city_hours_wrapper{
        justify-content: space-between;
    }
    .stats-container{
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 25px 0;
    }
    .stats-wrapper{
        margin-right: 25px;
    }
    .stats-container .stats-wrapper:last-child{
        margin: 25px 0 0;
    }
}
.vn_all{
	margin: 30px 0 50px;
    text-align: center;
}
.vn_all .main_btn{
	outline: 0;
    padding: 5px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background: transparent;
    background-color: #52A769;
    color: #ffffff;
    border: 1px solid #52A769;
	font-weight: 600;
    font-size: 18px;
    width: 200px;
}