{% extends "templates/web.html" %}

{% block title %}{{ _('Solve Ninja - Leaderboard') }}{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>{% include "www/leaderboard/index.js" %}</script>
{% endblock %}
{% block content %}
{% include 'www/templates/banner.html' %}
{% include 'www/leaderboard/templates/verified_ninja_section.html' %}
{% include 'www/leaderboard/templates/leaderboard_section.html' %}
{% include 'www/leaderboard/templates/active_cities.html' %}


{% endblock %}