<div class="wrapper-grey">
    <div class="leaderboard_wrapper">
        <div class="lb_title">Most Active Ninjas</div>
        <div class="filter-bar">
            <input type="search" class="searchbox" placeholder="Search Ninja" id="ninja">
            <div class="city_hours_wrapper">
                <select class="city-select" name="city" id="city">
                    <option value="">City</option>
                    {% for city in cities %}
                        <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                </select>
                <select class="hours-select" name="hr-range" id="hr-range">
                    <option value="">Hours</option>
                    <option value="0-30">0-30</option>
                    <option value="30-100">30-100</option>
                    <option value="100-200">100-200</option>
                    <option value="200-300">200-300</option>
                    <option value="300-400">300-400</option>
                    <option value="400+">400+</option>
                </select>
            </div>
            <div class="filter-btn">
                <button class="main_btn" type="button" id="search">Filter</button>
                <button class="primary_btn" type="button" id="clear">Clear</button>
            </div>
        </div>
        <div class="lb_content">
        </div>
        <div class="lb_cta">
            <button class="main_btn" id="btn_load_more">View More</button>
        </div>
    </div>
</div>