@media print {
    body {-webkit-print-color-adjust: exact;}
}
.lb_wrapper_outer{
    width: 100%;
    background: linear-gradient(180deg, rgba(232, 255, 238, 0.00) 5.73%, #E8FFEE 23.44%, #E7F5FF 100%);
}
.lb_wrapper{
    width: 100%;
    max-width: 1440px;
    padding: 25px 32px 55px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.lb_section_left{
    width: 30%;
    max-width: 412px;
}
.user_badge{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.user_badge img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.lb_left_content{
    width: 100%;
    background: #FFF;
    box-shadow: 4px 8px 30px 0px rgba(0, 0, 0, 0.12);
    border-radius: 32px;
    margin-top: -92px;
    position: relative;
    z-index: 99;
}
.edit_cta{
    position: absolute;
    top: 18px;
    right: 18px;
}
.edit_cta svg{
    width: 24px;
    height: 24px;
}
.user_detail{
    
}
.user_detail h3{
    margin: 0;
    padding: 120px 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #2B4754;
    text-align: center;
}
.user_detail p{
    margin: 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B4754;
    font-size: 20px;
    font-weight: 400;
}
.user_detail svg{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.last_activity{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
}
.last_activity svg{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.user_stats{
    background: #51A76A;
    padding: 6px 32px;
    margin: 17px 0 0;
    display: flex;
}
.user_stats_item{
    width: 50%;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
.user_stats_item:last-child{
    border-right: 0;
}
.user_stats_item strong{
    color: #2B4754;
    font-size: 16px;
    font-weight: 700;
}
.user_stats_item span{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.user_bio{
    padding: 32px 32px 0;
}
.user_bio h4{
    margin: 0;
    padding: 0;
    color: #2B4754;
    font-size: 20px;
    font-weight: 700;
}
.user_bio p{
    margin: 8px 0 0;
    color: #2B4754;
    font-size: 16px;
    font-weight: 400;
    max-height: 200px;
    overflow-y: auto;
}
.user_bio p::-webkit-scrollbar {
  width: 8px;
}
.user_bio p::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.user_bio p::-webkit-scrollbar-thumb {
  background: #b5b5b5; 
}
.user_bio p::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.ctas_wrapper{
    padding: 48px 32px 0;
}
.ctas_wrapper.show_mob{
    display: none;
}
.btn{
    width: 100%;
    margin-bottom: 16px;
    background: transparent;
    outline: 0;
    padding: 18px 0;
    border-radius: 32px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
}
.btn_fill{
    background-color: #52A769;
    color: #fff;
    border: 0;
}
.btn_outline{
    color: #51A76A;
    border: 2px solid #51A76A;
    
}
.report_user{
    padding: 16px 0 32px;
    text-align: center;
}
.report_user a{
    color: #51A76A;
    font-size: 16px;
    text-decoration: none;
}
.report_user.show_mob{
    display: none;
}
.lb_section_right{
    width: 67%;
    max-width: 930px;
}
.skill-badges{
    width: 100%;
    background: #FFF;
    box-shadow: 4px 8px 30px 0px rgba(0, 0, 0, 0.12);
    padding: 24px 32px;
    border-radius: 32px;
}
.profile_content .skill-badges{
    display: none;
}
.skill-badges .title{
    font-size: 20px;
    font-weight: 700;
    color: #2B4754;
}
.badges-wrapper{
    margin: 20px 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.badge{
    width: 18%;
    margin: 0 1% 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    border: 0;
}
.bi_wrapper{
    width: 85px;
    position: relative;
}
.badge_count{
    position: absolute;
    bottom: -3px;
    right: 0;
    background: rgba(216, 89, 48, 0.80);
    padding: 2px 8px;
    border-radius: 12px;
    line-height: 1;
    font-size: 14px;
    font-weight: normal;
    color: #000;
}
.badge img{
    width: 85px;
}
.badge span{
    font-size: 16px;
    font-weight: 400;
    color: #2B4754;
    white-space: break-spaces;
    line-height: 1.5;
}
.badge small{
    font-size: 14px;
    font-weight: 600;
    color: #D85930;
    margin: 4px 0 0;
}
.tabs-wrapper{
    width: 100%;
    background: #FFF;
    box-shadow: 4px 8px 30px 0px rgba(0, 0, 0, 0.12);
    padding: 24px 32px 0;
    margin: 24px 0 0;
    border-radius: 32px;
}
.mob-tabs-wrapper{
    display: none;
}
.tabs{
    border-radius: 32px;
    background: rgba(216, 89, 48, 0.20);
    display: flex;
}
.tab{
    width: 50%;
    text-align: center;
    color: #D85930;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    padding: 14px 0;
    box-sizing: border-box;
}
.tab.active{
    background: #D85930;
    color: #fff;
    border-radius: 32px;
}
.panels .panel{
    display: none;
}
.panels .panel:first-child{
    display: flex;
}
.overview_content{
    margin: 40px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.overview_content fieldset{
    border-radius: 32px;
    border: 1px solid #EDB550;
}
.overview_content legend{
    color: #51A76A;
    font-size: 20px;
    font-weight: 700;
    width: auto;
    padding: 0 8px;
    margin: 0;
}
.profile_fieldset{
    width: 49%;
    padding: 24px;
    margin: 0 0 24px;
    box-sizing: border-box;
}
.profile_fieldset100{
    width: 100%;
}
.profile_fieldset h3{
    padding: 0;
    margin: 0;
    color: #2B4754;
    font-size: 23px;
    font-weight: 700;
}
.profile_fieldset p{
    margin: 5px 0 0;
    color: #2B4754;
    font-size: 16px;
    font-weight: 400;
    max-height: 200px;
    overflow-y: auto;
}
.profile_fieldset p::-webkit-scrollbar {
  width: 8px;
}
.profile_fieldset p::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.profile_fieldset p::-webkit-scrollbar-thumb {
  background: #b5b5b5; 
}
.profile_fieldset p::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.shf_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shf_items .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.shf_items .item img{
    width: 98px;
    margin: 0 0 4px;
}
.shf_items .item span{
    text-align: center;
}
.persona_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.persona_content img{
    width: 212px;
}
.persona_content .content{
    margin: 0 0 0 60px;
}
.persona_content .content strong{
    color: #E59735;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 12px;
}
.persona_content .content p{
    margin: 0 0 24px;
}
.persona_content .content ul{
    padding: 0;
    margin: 12px 0 0 20px;
}
.expert_review .content p{
    margin: 0;
}
.expert_review .content strong{
    color: #E59735;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px;
    display: inline-block;
}
.partners_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.partners_content{
    display: flex;
    align-items: center;
     margin-right: 20px;
}
.partners_content img{
    margin-right: 10px;
    max-height: 100px;
}
.sign-designation{
    display: flex;
    flex-direction: column;
}
.sign-designation strong{
    color: #E59735;
    font-size: 20px;
    font-weight: 600;
}
.sign-designation p{
    font-size: 16px;
    font-weight: 600;
}
.action_item{
    border-bottom: 1px solid #786B5A;
    padding: 24px 18px 0;
}
.action_item:last-child{
    border-bottom: 0;
    padding-bottom: 24px;
}
.action_item_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 24px;
}
.action_item_head a{
   color: #2B4754;
}
.action_item h3{
    margin: -14px 0 10px;
    padding: 0;
    color: #2B4754;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.action_item p svg{
    width: 20px;
    height: 20px;
}
.action_item_head p{
    color: #2B4754;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 0;
}
.action_description{
    max-height: 200px;
    overflow-y: auto;
}
.action_description::-webkit-scrollbar {
  width: 8px;
}
.action_description::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.action_description::-webkit-scrollbar-thumb {
  background: #b5b5b5; 
}
.action_description::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.action_item_head svg{
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
}
.dropdown-menu.show{
    right: 0 !important;
    left: inherit !important;
    top: 25px !important;
    transform: none !important;
}
.action_content{
    padding: 20px 0;
}
.verified_profile{
    font-size: 22px;
    font-weight: 600;
    color: #666666;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verified_profile svg, .vouched_by svg{
    width: 25px;
    height: 25px;
    margin-right: 4px;
}
.vouched_by svg{
    flex-shrink: 0;
    margin-top: 3px;
}
.vouched_by{
    font-size: 22px;
    font-weight: 600;
    color: #51A76A;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}
@media only screen and (max-width: 992px) {
    .lb_wrapper_outer{
        background-size: 100% 200px;
        background-repeat: no-repeat;
    }
    .lb_wrapper{
        padding: 25px 0 0;
    }
    .lb_section_left{
        width: 100%;
        max-width: auto;
    }
    .user_badge{
        width: 100px;
        height: 100px;
    }
    .lb_left_content{
        box-shadow: none;
        border-radius: 0;
        margin-top: -36px;
    }
    .user_detail h3{
        padding: 45px 0 0;
        font-size: 20px;
    }
    .user_detail p{
        font-size: 16px;
        margin: 4px 0 0;
    }
    .report_user{
        display: none;
    }
    .report_user.show_mob{
        display: block;
        padding: 8px 0 20px;
    }
    .ctas_wrapper{
        display: none;
    }
    .ctas_wrapper.show_mob{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 24px 0;
    }
    .ctas_wrapper .download-btn{
        display: block;
    }
    .btn{
        width: 48%;
        padding: 12px 0;
        font-size: 18px;
        margin-bottom: 0;
    }
    .ctas_wrapper.show_mob a{
        width: 48%;
        margin-bottom: 10px;
    }
    .ctas_wrapper.show_mob a .btn{
        width: 100%;
    }
    .user_stats, .user_bio{
        display: none;
    }
    .profile_content .user_stats{
        display: flex;
        margin: 32px 0 0;
    }
    .user_stats_item{
        padding: 6px 0;
    }
    .profile_content .user_bio{
        display: block;
    }
    .profile_content .skill-badges{
        display: block;
        box-shadow: none;
        padding: 32px;
        border-radius: 0;
    }
    .badge{
        width: 48%;
    }
    .mob-tabs-wrapper{
        width: 100%;
        display: block;
        padding: 15px 0 0;
    }
    .tabs, .tab.active{
        border-radius: 0;
    }
    .tab{
        width: 33.33%;
        font-size: 14px;
        padding: 12px 0;
    }
    .tab.active{
        font-weight: 700;
    }
    .panels .panel:first-child{
        display: block;
    }
    .action_item{
        padding: 0 0 8px;
        margin: 32px 24px 0;
    }
    .profile_fieldset h3{
        font-size: 20px;
    }
    .action_item h3{
        font-size: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .vouched_by{
        margin: 5px 0 0;
        font-size: 18px;
        font-weight: 500;
    }
    .profile_fieldset{
        width: 100%;
    }
    .overview_content{
        margin: 32px 24px 0;
    }
    .persona_content img{
        display: none;
    }
    .persona_content .content{
        margin: 0;
    }
    .overview_content legend{
        font-size: 18px;
    }
    .action_content{
        padding: 20px 24px 0;
    }
    
    .lb_section_right{
        display: none;
    }
    .verified_profile{
        font-size: 18px;
        font-weight: 500;
    }
    .verified_profile svg, .vouched_by svg{
        width: 20px;
        height: 20px;
    }
}
    